.jobs-main{
    display: grid;
    grid-template-rows:  50px auto;

}
.jobs-first-part{
    display: grid;
    grid-template-columns: auto max-content;
    padding: 12px;
}
/* .title{
  display: grid;
  grid-template-rows: auto auto auto auto  ;
  padding:  24px 16px 12px 12px;
} */
.jobs-button{
    background-color: rgb(19, 19, 78);
    color: white;
}
.jobs-button:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color:black;
  }
  .table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 12px;
  
  }
  .table1{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 12px;
    opacity: 0.1;
  }
  
  .td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
    opacity: 1;
    font-size: small;
  }
 .entry{
  font-size: small;
 }

.connections-table{
  padding: 16px;
}
