.main-container{
    display: grid;
    grid-template-columns: 150px auto;
  }
  .icons{
    height: 60px;
    width: 60px;
    padding-left: 30px;
  }
  .icons-last{
    display: flex;
    padding-top: 20%;
    height: 60px;
    width: 60px;
    padding-left: 30px;
  }
  .icons-names{
    height : '30px';
  }
 .navlink{
  color: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
 }
.navlink :hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #808080;
  }
.navlink .active {
    color: #000000;
  }
 