.main-container{
    display: grid;
    grid-template-columns: 120px auto;
  }
  .icons{
    height: 60px;
    width: 60px;
    padding-left: 30px;
  }
  .icons-last{
    display: flex;
    padding-top: 20%;
    height: 60px;
    width: 60px;
    padding-left: 30px;
  }
  .icons-names{
    height : '30px';
  }
 